[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
environ = "*"
django-database-url = "*"
django-environ = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
